.face {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid whitesmoke;
  transition: box-shadow 0.175s ease-in-out;
  position: relative;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0px 0px 40px -8px rgba(0,0,0,0.75);
    .buyStar {
      opacity: 1;
      svg {
        animation-play-state: running;
      }
    }
  }
  &__text {
    border: 1px solid whitesmoke;
    box-sizing: border-box;
  }
  &__price {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}