.productFilter {
  display: flex;
  align-items: center;
  &__label {
    padding-right: 8px;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid white;
    width: 120px;
    text-align: left;
    cursor: pointer;
    span {
      padding-left: 8px;
    }
    .baloonLoader {
      margin-left: auto;
    }
  }
  &__list {
    display: none;
    opacity: 0;
    width: 120px;
    position: absolute;
    top: 19px;
    margin: 0 0 -4px 0;
    padding: 0;
    z-index: 2;
    &.isOpen {
      opacity: 1;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
  &__option {
    list-style: none;
    text-align: left;
    padding: 4px 8px;
    background: black;
    transition: 0.175s ease-in;
    cursor: pointer;
    &:hover {
      background: lighten(black, 10%);
    }
  }
}