.productRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  &__loading {
    display: flex;
    align-items: flex-start;
    .contents {
      width: 100%;
      padding-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__end {
    padding-top: 40px;
    text-align: center;
    width: 100%;
  }
}