.buyStar {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: opacity 0.175s ease-in-out;
  cursor: pointer;
  &__text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    z-index: 2;
  }
  svg {
    width: 100%;
    z-index: 3;
    height: 100%;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg);
  }
}