.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace; }
  .App__loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; }
    .App__loader.isLoaded {
      pointer-events: none;
      opacity: 0; }
  .App .saleMessage {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: red;
    color: white;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    padding: 18px;
    transition: all 0.25s ease-in-out;
    transform: translateY(20px); }
    .App .saleMessage.showSale {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all; }
    .App .saleMessage .close {
      position: absolute;
      right: 8px;
      line-height: 1;
      top: 8px;
      font-weight: bolder;
      cursor: pointer; }
    .App .saleMessage .line:first-child {
      font-weight: bolder;
      padding-bottom: 8px; }
