.products {
  position: relative;
  top: 0;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: 0.25s ease-in-out;
  overflow-y: hidden;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: black;
    height: 120px;
    color: white;
    h2 {
      margin: 0;
    }
  }
  .productFilter {
    position: absolute;
    right: 8px;
    bottom: calc(100vh - 112px);
  }
}

.ReactVirtualized__Grid {
    margin-bottom: auto;
    outline: none;
    overflow-y: auto;
}
